<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title data-l10n-id="title"></title>
        <meta name="description" content="Unleashing your native language's power through simple programming.">
        <meta name="viewport" content="width=device-width">

        <!--Open Graph-->
        <meta property="og:image" content="{{ site.url }}img/thumbnail.png"/>
        <meta property="og:title" content="L20n • Localization 2.0"/>
        <meta property="og:url" content="http://l20n.org/"/>
        <meta property="og:description" content="Unleashing your native language's power through simple programming."/>

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/jquery-1.9.0.min.js"><\/script>')</script>

        <!--[if lt IE 9]>
            <script src="/js/html5-3.6-respond-1.1.0.min.js"></script>
        <![endif]-->
        <script type="application/l20n">
            <name "L20n">
            <title "{% raw %}{{ name }}{% endraw %}{% if page.category == "learn" %} by example{% endif %} • {{ page.title }}">
            <welcome "Welcome to {% raw %}{{ name }}{% endraw %}">

            <lead """
              Unleashing your native language's
              power through simple programming.
            """>

            <position() { @screen.width < 1140 ?
                             "below" : "default" }>

            <tryLink[position()] {
              below: "Give it a try below",
              default: "Give it a try"
            }>

            <learn "Learn">
            <learnTitle "{% raw %}{{ learn }}{% endraw %}">
            <learnText "Explore how L20n empowers uninhibited natural language expression within web and software localization.">
            <learnLink "L20n by example &rarr;">

            <implement "Implement">
            <implementTitle "{% raw %}{{ implement }}{% endraw %}">
            <implementText "Using different translations on different screens is a killer feature for mobile and responsive design.">
            <implementLink "Developer docs &rarr;">

            <improve "Improve">
            <improveTitle "{% raw %}{{ improve }}{% endraw %}">
            <improveText "Developed by Mozilla, it's not only free, but also open source and a proposed open standard.">
            <improveLink "Fork it on GitHub &rarr;">

            <discuss "Discuss">
            <irc "IRC">

            <show "Show data-l10n-id values on hover">
            <nameFooter "{% raw %}{{ name }}{% endraw %}">
            <signature "Crafted by Mozilla.">
        </script>

        <script src="/js/l20n.js"></script>
    </head>
    <body class="{{ page.category }}">
        <div class="header-container">
            <header class="clearfix">
                {% if page.category == "home" %}
                    {% include menu-container.html %}
                {% else if page.category == "learn" %}
                    {% include toc-container.html %}
                {% endif %}
            </header>
        </div>
