<li><a {% if page.category == "learn" %}class="active" {% endif %}href="{{ site.url }}learn" data-l10n-id="learn">Learn</a></li>
<li><a href="https://github.com/l20n/l20n.js/blob/master/README.md" data-l10n-id="implement">Implement</a></li>
<li><a href="http://l20n.github.io/tinker/" data-l10n-id="tinker">Tinker</a></li>
<li><a href="https://github.com/l20n/" data-l10n-id="fork">Fork</a></li>
<li><a href="https://lists.mozilla.org/listinfo/tools-l10n" data-l10n-id="discuss">Discuss</a></li>
<li><a href="irc://irc.mozilla.org/l20n" data-l10n-id="irc">IRC</a></li>
