<section class="navigation">
    <p class="clearfix">
    {% if page.previous != null %}
        <a class="back" href="{{ page.previous.url }}">{{ page.previous.date | date: "%-d" }}. {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next != null %}
        <a class="next" href="{{ page.next.url }}">{{ page.next.date | date: "%-d" }}. {{ page.next.title }}</a>
    {% endif %}

    <!-- Special case: 1st page -->
    {% if page.title == "Hello World" %}
        <a class="back" href="/learn">0. Introduction</a>
    {% endif %}
    </p>
</section>
