<li><a {% if page.title == "Introduction" %}class="active" {% endif %}href="{{ site.url }}learn">Introduction</a></li>
<li><a {% if page.title == "Hello world" %}class="active" {% endif %}href="{% post_url 2012-07-01-hello-world %}">Hello world</a></li>
<li><a {% if page.title == "String values" %}class="active" {% endif %}href="{% post_url 2012-07-01-string-values %}">String values</a></li>
<li><a {% if page.title == "Dictionary values" %}class="active" {% endif %}href="{% post_url 2012-07-01-dictionary-values %}">Dictionary values</a></li>
<li><a {% if page.title == "Default values for dictionaries" %}class="active" {% endif %}href="{% post_url 2012-07-01-default-values-for-dictionaries %}">Default values for dictionaries</a></li>
<li><a {% if page.title == "Indexes for hash tables" %}class="active" {% endif %}href="{% post_url 2012-07-01-indexes-for-hash-tables %}">Indexes for hash tables</a></li>
<li><a {% if page.title == "Attributes" %}class="active" {% endif %}href="{% post_url 2012-07-01-attributes %}">Attributes</a></li>
<li><a {% if page.title == "Referencing context data in values" %}class="active" {% endif %}href="{% post_url 2012-07-01-referencing-context-data-in-values %}">Referencing context data in values</a></li>
<li><a {% if page.title == "Referencing context data in indexes" %}class="active" {% endif %}href="{% post_url 2012-07-01-referencing-context-data-in-indexes %}">Referencing context data in indexes</a></li>
<li><a {% if page.title == "Macros" %}class="active" {% endif %}href="{% post_url 2012-07-01-macros %}">Macros</a></li>
<li><a {% if page.title == "Expressions" %}class="active" {% endif %}href="{% post_url 2012-07-01-expressions %}">Expressions</a></li>
<li><a {% if page.title == "Globals: @hour" %}class="active" {% endif %}href="{% post_url 2012-07-01-globals-hour %}">Globals: @hour</a></li>
<li><a {% if page.title == "Globals: @os" %}class="active" {% endif %}href="{% post_url 2012-07-01-globals-os %}">Globals: @os</a></li>
<li><a {% if page.title == "Globals: @screen" %}class="active" {% endif %}href="{% post_url 2012-07-01-globals-screen %}">Globals: @screen</a></li>
<li><a {% if page.title == "Entities: public vs. local" %}class="active" {% endif %}href="{% post_url 2012-07-01-entities-public-vs-local %}">Entities: public vs. local</a></li>
<li><a {% if page.title == "Attributes: public vs. local" %}class="active" {% endif %}href="{% post_url 2012-07-01-attributes-public-vs-local %}">Attributes: public vs. local</a></li>
<li><a {% if page.title == "Complex plurals" %}class="active" {% endif %}href="{% post_url 2012-07-01-complex-plurals %}">Appendix A. usecase: complex plurals</a></li>
<li><a {% if page.title == "Declensions" %}class="active" {% endif %}href="{% post_url 2012-07-01-declensions %}">Appendix B. usecase: declensions</a></li>
<li><a {% if page.title == "Gender" %}class="active" {% endif %}href="{% post_url 2012-07-01-gender %}">Appendix C. usecase: gender</a></li>