<li><a href="">Introduction</a></li>
<li><a href="">Hello, World!</a></li>
<li><a href="">String values</a></li>
<li><a href="">Dictionary values</a></li>
<li><a href="">Default values for dictionaries</a></li>
<li><a href="">Indexes for hash tables</a></li>
<li><a href="">Attributes</a></li>
<li><a href="">Referencing context data in values</a></li>
<li><a href="">Referencing context data in indexes</a></li>
<li><a href="">Macros</a></li>
<li><a href="">Expressions</a></li>
<li><a href="">Globals: @hour</a></li>
<li><a href="">Globals: @os</a></li>
<li><a href="">Globals: @screen</a></li>
<li><a href="">Entities: public vs. local</a></li>
<li><a href="">Attributes: public vs. local</a></li>
<li><a href="">Appendix A. usecase: complex plurals</a></li>
<li><a href="">Appendix B. usecase: declensions</a></li>
<li><a href="">Appendix C. usecase: gender</a></li>